.category-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    .cat-name{

    }
    .filters-container{
        width: 100%;
        height: 100px;
        background-color: red;
    }
    .products-container{
        width: 100%;
        padding: 12px;
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
    }
}