.nav{
    width: 100%;
    padding: 12px;
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;

    .categories{
        position: relative;
    }
    .categories-container{
        display: none;
        width: fit-content;
        font-size: 24px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: orange;
        border-radius: 10px;
    
        .category{
            padding: 6px;
        }
    }
    .name{
        font-size: 48px;
    }
    .account-and-cart{
        display: flex;
        gap: 32px;
        img{
            height: 24px;
            width: auto;
        }
    }
}
