.nav{
    width: 100%;
    padding: 12px;
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;

    .categories{
        
    }
    .name{
        font-size: 48px;
    }
    .account{
        
    }
}