.product-page{
    display: flex;
    gap: 10%;
    justify-content: center;
    margin-top: 32px;
    .imgs-container{
        width: 30%;
        height: 300px;
        position: relative;
        padding: 12px;
        .slide{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
          }
          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          }
          .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
          }
    }
    .product-info{
        width: 40%;
        height: fit-content;
        padding: 12px;
        .product-name{
            font-size: 2.3rem;
        }
        .product-desc, .price{
            font-size: 1.2rem;
        }
        .btns-container{
            display: flex;
            flex-direction: column;
            width: fit-content;
            .top{
                margin-top: 12px;
                display: flex;
                div{
                    width: 48px;
                    height: 48px;
                    font-size: 1.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                button{
                    width: 48px;
                    height: 48px;
                    font-size: 1.2rem;
                    background-color: $mainColor;
                    border-radius: 10px;
                    color: white;
                    font-weight: bold;
                    transition: ease-in-out .3s;
                    &:hover{
                        color: $mainColor;
                        background-color: white;
                        border: 2px solid $mainColor;
                    }
                }
            }
            .bottom{
                display: flex;
                gap: 12px;
                margin-top: 12px;
                button{
                    font-size: 1.2rem;
                    border-radius: 10px;
                    border: 2px solid $mainColor;
                    transition: ease-in-out .3s;
                    color: $mainColor;
                    padding: 12px;
                    &:hover{
                        background-color: $mainColor;
                        border: none;
                        color: white;
                    }
                }
            }
        }
    }
}